//Aquí no se usa "root:" para definir variables como en CSS, se usa un signo $ antes del nombre de la variable
$fuentePrincipal: "Arial";

body {
    font-family: $fuentePrincipal;
}

h1 {
    font-family: $fuentePrincipal;
    margin-top: 20px;
}

p {
    font-family: $fuentePrincipal;
}